$color-white: #fff;
$color-background1: #EFEFEFFF;
$color-focus-form: #636363FF;
$color-border: lightgray;
$color-black: #000;
$color-bgr-my-msg: #383838FF;
$color-sign-in: #ffcc66;
$color-hover-sign-in:#ffb31a;